# ARIMA

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from matplotlib import pyplot
from matplotlib.pylab import rcParams

In [2]:
rcParams['figure.figsize'] = 15, 6

In [3]:
df = pd.read_csv('../data_sets/AirPassengers.csv')

In [4]:
df.head()

     Month  #Passengers
0  1949-01          112
1  1949-02          118
2  1949-03          132
3  1949-04          129
4  1949-05          121

In [5]:
df["Month"] = pd.to_datetime(df["Month"])
df = df.set_index("Month")
# df.dtypes