# Transformations and Inverse Transformations

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from matplotlib import pyplot
from matplotlib.pylab import rcParams

In [2]:
rcParams['figure.figsize'] = 15, 6

In [8]:
# dateparse = lambda dates: pd.datetime.strptime(dates, '%Y-%m')
# df = pd.read_csv('../data_sets/AirPassengers.csv', parse_dates=['Month'], index_col='Month', date_parser=dateparse)

df = pd.read_csv(
    '../data_sets/AirPassengers.csv',
    parse_dates=['Month'],
    index_col='Month'
)

In [9]:
# Convert to time series
ts = df['#Passengers']

In [10]:
from datetime import datetime
ts[datetime(1949,1,1)]

np.int64(112)

In [11]:
ts.head()

Month
1949-01-01    112
1949-02-01    118
1949-03-01    132
1949-04-01    129
1949-05-01    121
Name: #Passengers, dtype: int64

In [22]:
# Log
ts_log = np.log(ts)
print(ts_log.iloc[0])

# Inverse Log = Exponentiation
ts_orig = np.exp(ts_log)
print(ts_orig.iloc[0])

# original
print(ts.iloc[0])

4.718498871295094
111.99999999999996
112

In [26]:
# Double Log

ts_double_log = np.log(ts_log)
print(ts_double_log.iloc[0])

# Inverse Double Log
ts_orig2 = np.exp(np.exp(ts_double_log))
print(ts_orig2.iloc[0])

1.5514907132708071
111.99999999999996

In [35]:
# Log Differencing

ts_log_diff = ts_log - ts_log.shift() # difference between the two consecutive log values
print(ts_log_diff.iloc[1])

# Inverse
# add the shifted lag values to the first log value to get the cumulative sum
ts_log_cumsum = ts_log_diff.cumsum()

# Add the cumulative sum to the first log value to get the restored log time series
ts_log_restored = ts_log.iloc[0] + ts_log_cumsum

# Take the exponential of the restored log
ts_orig = np.exp(ts_log_restored)
print(ts_orig)

0.05218575317057095
Month
1949-01-01      NaN
1949-02-01    118.0
1949-03-01    132.0
1949-04-01    129.0
1949-05-01    121.0
              ...
1960-08-01    606.0
1960-09-01    508.0
1960-10-01    461.0
1960-11-01    390.0
1960-12-01    432.0
Name: #Passengers, Length: 144, dtype: float64

In [37]:
# Log + MA + Differencing
ts_log = np.log(ts)
moving_avg = pd.Series(ts_log).rolling(window=12).mean()
ts_log_moving_avg_diff = ts_log - moving_avg

# Inverse
# Add moving average
ts_log_moving_avg = ts_log_moving_avg_diff + moving_avg

ts_orig = np.exp(ts_log_moving_avg)
print(ts_orig)

Month
1949-01-01      NaN
1949-02-01      NaN
1949-03-01      NaN
1949-04-01      NaN
1949-05-01      NaN
              ...
1960-08-01    606.0
1960-09-01    508.0
1960-10-01    461.0
1960-11-01    390.0
1960-12-01    432.0
Name: #Passengers, Length: 144, dtype: float64